// Prevent wrapping of long link text
li > a,
:deep(.link-inner) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

// Link inner supports a button to the right of the link
// The actual content is in div.link-inner
li > a:has(div.link-inner) {
  // Bulma puts the padding on the outer link
  // element, but that clips the serifs in the text
  padding-top: 0px;
  padding-bottom: 0px;

  position: relative;
  display: flex;
  flex-direction: row;

  // Put bulma's padding on the inner element
  div.link-inner {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    flex: 1;
  }

  .link-button {
    margin-right: -6px;
    margin-top: 0.65em;
    padding: 0em 0.3em;
    line-height: 0px;
    width: 1em;
    height: 1em;
    background-color: rgba(0, 0, 0, 0.15) !important;
    &:hover {
      background-color: rgba(0, 0, 0, 0.25) !important;
    }
  }

  &:not(.router-link-active) {
    :deep(.link-button) {
      color: white !important;
    }
  }
  &.router-link-active {
    :deep(.link-button) {
      color: var(--bulma-text-strong) !important;
    }
  }
}
