@use 'bulma/sass/utilities/derived-variables' with (
  $primary: hsl(261.6, 51.87%, 47.25%),
  $link: hsl(261.6, 51.87%, 47.25%)
);
@use 'bulma/sass/utilities/css-variables' as cv;
@use 'bulma/sass';

@use 'animations.scss';

html {
  overflow: auto;
}

main.full-h {
  min-height: 100vh;
  overflow-x: hidden;
}

.modal-content {
  padding: 20px;
}

.absolute-center,
.fixed-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.fixed-center {
  position: fixed !important;
}

.is-small-caps {
  font-variant: small-caps;
}

.Toastify__toast-container {
  --toastify-toast-width: 300px;
  width: auto !important;
  min-width: 300px;
  max-width: min(400px, 96vw);
  font-size: 0.95em;
}
.Toastify__toast-body {
  padding: 1px 3px;
}

* {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/** Override background color to be darker on dark mode */
@include cv.system-theme($name: 'dark') {
  --theme-is-dark: 1;

  .has-background-primary.soft-if-dark,
  .is-primary.soft-if-dark {
    background-color: var(--bulma-primary-soft) !important;
  }

  * {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }

  .invert-if-dark {
    filter: invert(1);
  }
}
