@use 'bulma/sass/utilities/derived-variables' with (
  $primary: hsl(261.6, 51.87%, 47.25%),
  $link: hsl(261.6, 51.87%, 47.25%),
  $warning: hsl(0, 52%, 47%)
);
@use 'bulma/sass/utilities/css-variables' as cv;
@use 'bulma/sass';

@use 'animations.scss';
@use 'toastify.scss';
@use 'utils.scss';

html {
  overflow: auto;
  --z-spinner: 100;
  --z-navbar: 500;
  --z-dropdown: 550;
  --z-modal: 800;

  // This color is white on light mode and primary on dark mode
  --highlight-on-primary-color: var(--bulma-body-background-color);
}

* {
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}

/** Override background color to be darker on dark mode */
@include cv.system-theme($name: 'dark') {
  --theme-is-dark: 1;
  --highlight-on-primary-color: var(--bulma-primary);

  .has-background-primary.soft-if-dark,
  .is-primary.soft-if-dark {
    background-color: var(--bulma-primary-soft) !important;
  }
  .is-warning.soft-if-dark {
    background-color: var(--bulma-warning-soft) !important;
  }

  * {
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
  }

  .invert-if-dark {
    filter: invert(1);
  }
}
