.Toastify__toast-container {
  --toastify-toast-width: 300px;
  width: auto !important;
  min-width: 300px;
  max-width: min(400px, calc(96vw));
  font-size: 0.95em;
}
.Toastify__toast-body {
  padding: 1px 3px;
}

@media (max-width: 480px) {
  .Toastify__toast-container {
    left: 0.5em !important;
    right: 0.5em !important;
    bottom: 0.5em !important;
    width: 96vw;
    max-width: 96vw;
  }
}

.fade-toast {
  &--enter {
    animation: fade-toast-enter-frames 0.3s ease;
    animation-direction: normal;
  }
  &--leave {
    animation: fade-toast-enter-frames 0.3s ease;
    animation-direction: reverse;
    animation-fill-mode: forwards;
  }

  @keyframes fade-toast-enter-frames {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    33% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
