.Toastify__toast-container {
  --toastify-toast-width: 300px;
  width: auto !important;
  min-width: 300px;
  max-width: min(400px, 96vw);
  font-size: 0.95em;
}
.Toastify__toast-body {
  padding: 1px 3px;
}
